<nav class="navbar navbar-light navbar-expand-lg navbar-custom">
  <div class="brand-box">
    <a class="navbar-brand" href="{{ / | relative_url }}"><h1>Up to Us</h1></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link nav-link-custom" href="#issues">Issues</a>
      </li>
      <li class="nav-item nav-link-custom donate">
        <a class="nav-link donate-link" href="https://actionnetwork.org/fundraising/dsa-la-neighborhood-council-elections-fund" target="_blank">Contribute</a>
      </li>
    </ul>
  </div>
</nav>
