---
---

@import "{{ site.theme }}";

@font-face {
    font-family: ApfelGrotezk;
    src: url(fonts/ApfelGrotezk-Regular.otf);
}
@font-face {
    font-family: Silom;
    src: url(fonts/SilomBol.ttf);
}

body {
  padding: 0;
  font-family: 'ApfelGrotezk', sans-serif;
  color: #00304f;
}

h1 {
  font-size: 4em;
  color: #000;
}

h2 {
  font-size: 3.5em;
  color: #000;
}

p {
  font-family: ApfelGrotezk;
  font-size: 18px;
}

a {
  font-family: ApfelGrotezk;
  color: rgb(245,239,72);
  font-size: 18px;
  &:hover {
    font-weight: normal;
  }
}

.home-bg {
  background-image: url('https://up-to-us.info/assets/images/background.jpg');
  background-size: cover;
}

.title {
  border-bottom: 4px solid rgb(245,239,72);
  margin: 2em 0;
  padding: 0;
}

.about {
  border-bottom: 4px solid rgb(245,239,72);
  margin: 2em 0;
  padding: 0;
  text-align: right;
}

.card {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.card-header {
  background-color: transparent;
  border: none;
  padding: 12px 0;
}

.card-body {
  float: right;
}

.issue {
  float: right;
}

.about-body {
  float: right;
}

.footer-text {
  margin: 15px 0;
  font-size: 1.5em;
}
