---
---

@import "{{ site.theme }}";

@font-face {
    font-family: Silom;
    src: url(fonts/ApfelGrotezk-Regular.otf);
}
@font-face {
    font-family: Silom;
    src: url(fonts/SilomBol.ttf);
}

body {
  padding: 0;
  font-family: 'ApfelGrotezk', sans-serif;
  color: #00304f;
}

h1 {
  font-size: 4em;
  color: #000;
}

h2 {
  color: rgb(245,239,72);
  float: right;
  margin: 0;
}

.final {
  color: #000;
  margin: 0 15px;
}

p, a {
  font-family: ApfelGrotezk;
  font-size: 1.5em;
}

.home-bg {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
}

.title {
  border-bottom: 4px solid rgb(245,239,72);
  margin: 2em 0;
}

.card {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.card-header {
  background-color: transparent;
  border: none;
}

.card-body {
  float: right;
}

.issue {
  float: right;
}
