<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body class="home-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 about">
          <h3>About Up to US</h3>
        </div>
        <div class="col-sm-10 about-body">
          <p>
            The UP to US Campaign was spearheaded by Silver Lake local Neil
            Blakemore after witnessing his neighbors dox and dehumanize an
            unhoused woman in the midst of a mental health crisis. This
            experience made it abundantly clear to him that he needed to use his
            voice and position to speak up against the many injustices unhoused
            people face daily. Since January 2021, he has been meeting with
            other artists, activists, organizations, neighborhood councils and
            more to develop this campaign to challenge the ways people think
            about houselessness with the hope that if he can shift hearts and
            minds even slightly, he can open people up to ideas and solutions
            they may previously have rejected outright.
          </p>
          <p>
            Neil is driven by the belief that houselessness is a manufactured
            crisis rooted in greed, manufactured by capitalism, and perpetuated
            by power. We can choose to create communities of care and support,
            but that’s #UPtoUS.
          </p>
          <p>
            In the course of creating this campaign, Neil has enlisted the help
            of graphic designer Hannah Tyler and web designer Jason Corum both
            of whom have generously donated their skills to the project.
          </p>
          <p>
            We also have to acknowledge and thank Theo Henderson, creator of
            <a href="https://www.wetheunhoused.com/">We The Unhoused</a> podcast
            for his gracious help and support. Please support Theo’s
            <a href="https://www.patreon.com/wetheunhoused">Patreon</a> -
          </p>
          <p>
            Also, thank you to Samantha Danner, Jillian Schultz, Silver Lake
            Neighborhood Council, and East Hollywood Neighborhood Councilfor
            their support.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-10 about">
          <h3>Board</h3>
        </div>
        <div class="col-sm-10 about-body">
          <p>
            We are seeking to grow our board! We are especially looking for
            people who have lived experience being unhoused and/or work with the
            unhoused
          </p>
          <p>
            Neil Blakemore - President<br />
            Kimberly Christenson - Treasurer<br />
            Adam Mervis - Secretary
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div id="footerbar" class="col-12">{% include menu.html %}</div>
        <div id="footerbar" class="col-12">{% include footer.html %}</div>
      </div>
    </div>
  </body>
</html>
