<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body class="home-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 about">
          <h3>Up to US in East Hollywood</h3>
        </div>
        <div class="col-sm-10 about-body text-center">
          <img src="/assets/images/EHNC.jpg" width="50%" />
        </div>
        <div class="col-sm-8 about-body">
          <p>Helpful Resources:</p>
          <ul>
            <li>
              <a
                href="https://docs.google.com/presentation/d/1IGUie6jkLYqvakEszfgvgfMNIqEomWBWsGZufGnTYeg/edit?usp=sharing"
                >Resource Zine for Unhoused Neighbors</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1IiOKdncc-NzputQeTzvSK8YpcBmEmtIB/view?usp=sharing"
                >Free Produce Box Giveaway</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/file/d/1B0SUKXCbDbEoF21JfzUcFtz5h69aU2vY/view?usp=sharing"
                >Gratís Iprepartición De Caja Con Frutas Y Verduras</a
              >
            </li>
            <li>
              <a
                href="https://docs.google.com/spreadsheets/d/1bWH2py1e2eJS4eJw8ChKr_CANlqbcssMqVkIk8ZBd-k/edit?usp=sharing"
                >Homelessness Resources</a
              >
            </li>
            <li>
              <a
                href="https://docs.google.com/document/d/1NhV6mdUGqiKZIFuxx97mpkQrN4KRRPzG/edit?usp=sharing&ouid=104963644237392610372&rtpof=true&sd=true"
                >Free Laundry - Lavado Gratís</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div id="footerbar" class="col-12">{% include menu.html %}</div>
        <div id="footerbar" class="col-12">{% include footer.html %}</div>
      </div>
    </div>
  </body>
</html>
