<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
    {% include header.html %}
    <body>
      <div class="container-fluid home-bg">
        {% for issue in site.issues %}
        <div class="row justify-content-md-center">
          {% capture issue_cycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          {% if issue_cycle == 'odd' %}
            <div class="col">
              <h2>{{issue.title}}</h2>
            </div>
            <div class="col-6">
              <img src="{{issue.img | relative_url }}" class="mx-auto d-block img-fluid" alt="{{issue.title}}">
            </div>
          {% else %}
            <div class="col-6 home-col">
              <img src="{{issue.img | relative_url }}" class="mx-auto d-block img-fluid" alt="{{issue.title}}">
            </div>
            <div class="col">
              <h2>{{issue.title}}</h2>
            </div>
          {% endif %}
        </div>
        {% endfor %}
        <div id="footerbar" class="col-12">
          {% include footer.html %}
        </div>
      </div>
  </body>
</html>
