<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body class="home-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-10 about">
          <h3>Up to US in Silverlake</h3>
        </div>
        <div class="col-sm-10 about-body">
          <p>Information about Silverlake</p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div id="footerbar" class="col-12">{% include menu.html %}</div>
        <div id="footerbar" class="col-12">{% include footer.html %}</div>
      </div>
    </div>
  </body>
</html>
